<template>
    <div class="modal text-white h-screen">
      <div class="flex flex-col xl:flex-row h-screen">
        <div class="flex flex-1 bg-red-700 p-6">
          <img src="@/assets/images/logo/Robornik_RB-KAIROS.png" class="mx-auto max-w-xs md:max-w-md px-24">
        </div>
        <div class="flex flex-1 flex-col order-first xl:order-last bg-gray-700">
          <div class="flex py-10">
            <img src="@/assets/images/logo/logo.png" class="mx-auto max-w-xs md:max-w-md">
          </div>
          <div class="flex flex-col justify-around h-full">
            <div class="flex w-full justify-center">
              <vs-input size="large" class="w-full mx-4 text-xl max-w-lg" label-placeholder="Insert RosBridge Address" v-model="rosBridgeAddress"/>
            </div>
            <div class="flex py-10 mx-auto">
              <label class="rocker">
                <input type="checkbox" v-model="disconnected">
                <span class="switch-right">Off</span>
                <span class="switch-left">On</span>
              </label>
            </div>
            <div class="flex w-full">
              <img src="@/assets/images/logo/couchLogo.png" class="mx-auto w-full max-w-md">
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "AddressModal",
      data() {
          return {
            rosBridgeAddress: '',
            disconnected: true
          }
      },
      watch: {
        disconnected(val) {
          if (!val && this.rosBridgeAddress) {
            setTimeout(() => {
              this.$eventBus.$emit('connected', this.rosBridgeAddress);
            }, 500)
          } else {
            this.$nextTick(function () {
              this.disconnected = true;
            })
          }
        }
      },
      mounted() {
          this.$eventBus.$on('disconnected', () => {
            this.disconnected = true
          })
      }
    }
</script>
<style lang="scss">
  .modal {
    span.input-span-placeholder.vs-input--placeholder.large.vs-placeholder-label {
      font-size: 17px;
    }
  }
  /* Switch starts here */
  .rocker {
    display: inline-block;
    position: relative;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
  }

  .rocker-small {
    font-size: 0.75em; /* Sizes the switch */
    margin: 1em;
  }

  .rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
  }

  .rocker input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch-right,
  .switch-left {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
  }

  .switch-right {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
  }

  .switch-left {
    right: 0.5em;
    bottom: 0;
    background-color: #10163a;
    color: #fff;
  }

  .switch-right::before,
  .switch-left::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
  }

  .switch-right::before {
    left: -0.4em;
  }

  .switch-left::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
  }

  input:checked + .switch-right {
    background-color: #bd5757;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
  }

  input:checked + .switch-right::before {
    background-color: transparent;
    width: 3.0833em;
  }

  input:checked + .switch-right + .switch-left {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
  }

  input:checked + .switch-right + .switch-left::before {
    background-color: #ccc;
  }

  /* Keyboard Users */
  input:focus + .switch-right {
    color: #333;
  }

  input:checked:focus + .switch-right {
    color: #fff;
  }

  input:focus + .switch-right + .switch-left {
    color: #fff;
  }

  input:checked:focus + .switch-right + .switch-left {
    color: #333;
  }
</style>
