<template>
  <div class="slider-pips">

    <input v-for="(value, index) in vals"
           :key="'range' + index"
           class="slider-pips__range"
           :class="[ 'slider-pips__range--' + (index + 1) ]"
           type="range" :min="min" :max="max" :step="step" :value="value"
           @change="updateValue( $event, index )"
           @input="updateValue( $event, index )" />

    <ul v-if="floats"
        class="slider-pips__floats">
      <li v-for="(value, index) in vals"
          class="slider-pips__float"
          :class="[ 'slider-pips__float--' + (index + 1) ]"
          :style="{ 'left': floatPos(value) }">
        {{value}}
      </li>
    </ul>

    <div v-if="isRange"
         class="slider-pips__range-holder">
      <div class="slider-pips__range-selection"
           :style="{ width: rangeWidth, left: rangeLeft }"></div>
    </div>

    <ul class="slider-pips__pips">

      <li class="slider-pips__pip"
          v-for="( pip, index ) in pipCount"
          @click="selectPip( index )"
          :style="{ left: pipPos( index ) }">

          <span class="slider-pips__label"
                :class="{ 'slider-pips__label--hidden': !labels }">
            {{ pipLabel( index ) }}
          </span>

      </li>

    </ul>

  </div>
</template>

<script>
  export default {
    name:"ZoomComponent",
    // props:{
    //   zoomNo:{
    //     type:Number,
    //     default:10
    //   }
    // },
    // methods: {
    //   changeRange(e) {
    //     this.$emit('changedRange', parseInt(e.target.value));
    //   }
    // },
    props: {
      values: { type: Array, default: [0] },
      min: { type: Number, default: 0 },
      max: { type: Number, default: 20 },
      step: { type: Number, default: 1 },
      labels: Boolean,
      range: Boolean,
      floats: Boolean
    },
    data() {
      return {
        vals: this.values
      }
    },
    computed: {
      isRange() {
        return this.range;
      },
      pipCount() {
        return Math.round(( this.fixedMax - this.fixedMin ) / this.fixedStep + 1 );
      },
      fixedStep() {
        return this.fixValue( this.step );
      },
      fixedMin() {
        return this.fixValue( this.min );
      },
      fixedMax() {
        return this.fixValue( this.max );
      },
      rangeFraction() {
        return 100 / ( this.fixedMax - this.fixedMin );
      },
      rangeWidth() {
        if ( this.vals.length === 1 ) {
          return (( this.vals[0] - this.fixedMin ) * this.rangeFraction ) + "%";
        } else {
          return (( this.vals[1] - this.vals[0] ) * this.rangeFraction ) + "%";
        }
      },
      rangeLeft() {
        if ( this.vals.length === 1 ) {
          return "0%";
        } else {
          return (-( this.fixedMin - this.vals[0] ) * this.rangeFraction ) + "%";
        }
      }
    },
    methods: {
      fixValue( value ) {
        return parseFloat( parseFloat( value ).toFixed(2) );
      },
      pipPos( index ) {
        return ( ( index * this.rangeFraction ) * this.fixedStep ) + "%";
      },
      floatPos( value ) {
        value = this.fixValue( value );
        return ( -( this.fixedMin - value ) * this.rangeFraction ) + "%";
      },
      pipLabel( index ) {
        return this.fixValue( this.fixedMin + index * this.fixedStep );
      },
      selectPip( index ) {
        let pipValue = this.fixValue( this.fixedMin + index * this.fixedStep );
        let handle = this.getClosestHandle( pipValue );
        this.$set( this.vals, handle, pipValue );
      },
      isPipInRange( index ) {
        let pipValue = this.fixValue( this.fixedMin + index * this.fixedStep );
        return ( pipValue >= this.fixedMin && pipValue <= this.vals[0] );
      },
      updateValue( ev, handle ) {
        let pipValue = this.fixValue( ev.target.value );
        if ( this.isRange && this.vals.length > 1 ) {
          if ( handle === 0 && pipValue > this.vals[1] ) {
            this.$set( this.vals, 0, this.vals[1] );
          } else if ( handle === 1 && pipValue < this.vals[0] ) {
            this.$set( this.vals, 1, this.vals[0] );
          } else {
            this.$set( this.vals, handle, pipValue );
          }
        } else {
          this.$set( this.vals, handle, pipValue );
        }
            this.$emit('changedRange', parseInt(ev.target.value));
      },
      getClosestHandle( value ) {
        let closest = this.vals.reduce( function( p, c ) {
          return ( Math.abs(c - value) < Math.abs( p - value ) ) ? c : p;
        });
        return this.vals.indexOf( closest );
      },
      selectedPipClassName( pipIndex ) {
        let className = "";
        let pipValue = this.fixValue( this.fixedMin + pipIndex * this.fixedStep );
        this.vals.forEach( function( v, i ) {
          if ( v === pipValue ) {
            className += " slider-pips__pip--selected--" + (i + 1);
          }
        })
        return className;
      }
    },
    mounted() {
    }
  }
</script>

<style lang="scss" scoped>
  body {
    background: #434d5a;
    padding: 20px;
    font-family: "Heebo", sans-serif;
    color: white;
  }

  // ===================================

  $bgcolor: #8e9cad;
  $color: #8e9cad;
  $color1: #7367F0;
  $color2: #d96ff7;
  $color3: #f27c41;
  $color4: #00cbff;

  $trackHeight: 5px;
  $handleWidth: $trackHeight * 7;

  // ========================

  .slider-pips {

    position: relative;
    margin: 0;
    min-height: 40px;
    color: $color;
    font-size: 12px;

    &__range {

      width: 100%;
      appearance: none;
      height: $trackHeight;
      display: inline-block;
      background: transparent;

      position: absolute;
      left: 0;
      right: 0;
      top: 0;

      &::-webkit-slider-runnable-track {
        appearance: none;
        position: relative;
        background: $bgcolor;
        height: $trackHeight;
        border-radius: $trackHeight;
      }

      &::-webkit-slider-thumb {
        appearance: none;
        position: relative;
        width: $handleWidth;
        height: $handleWidth;
        background: $color1;
        box-shadow: 0 0 0 2px #434d5a;
        border-radius: 100%;
        transform: translateY( -( $trackHeight ) );
        z-index: 1;
      }

      &:focus,
      &:focus::-webkit-slider-runnable-track {
        outline: none;
      }

    }

    &__range-selection {

      position: absolute;
      top: 0px;
      height: $trackHeight;
      background: $color1;
      border-radius: 3px;
      transition: all 0.2s ease-out;

    }

    &__pips,
    &__floats {
      position: relative;
      list-style: none;
      margin: 0 $handleWidth/2;
    }

    &__pips {
      top: $trackHeight + 8;
    }

    &__pip {

      position: absolute;
      top: -5px;
      left: 0;
      width: 1px;
      height: 6px;
      background: currentColor;
      user-select: none;
      transition: all 0.5s ease;
      cursor: pointer;

      &:hover {
        color: white;
      }

      &--selected {

        color: lighten( $color1, 5% );
        height: 10px;
        transition: all 0.05s ease;

        &--2 { color: lighten( $color2, 10% ); }
        &--3 { color: lighten( $color3, 10% ); }
        &--4 { color: lighten( $color4, 10% ); }

      }

    }

    &__label {

      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate( -50%, 0px );
      padding: 3px;

      &--hidden {
        display: none;
      }

    }

    &__float {

      position: absolute;
      top: -20px;
      transform: translateX( -15px );
      width: 30px;
      text-align: center;
      pointer-events: none;
      user-select: none;
      z-index: 1;

      &--2 { z-index: 2; }
      &--3 { z-index: 3; }
      &--4 { z-index: 4; }

    }

  }



  .slider-pips__range--2 {
    &::-webkit-slider-thumb {
      z-index: 2;
    }
    &.slider-pips__range::-webkit-slider-thumb {
      background: $color2;
    }
  }

  .slider-pips__range--3 {
    &::-webkit-slider-thumb {
      z-index: 3;
    }
    &.slider-pips__range::-webkit-slider-thumb {
      background: $color3;
    }
  }

  .slider-pips__range--4 {
    &::-webkit-slider-thumb {
      z-index: 4;
    }
    &.slider-pips__range::-webkit-slider-thumb {
      background: $color4;
    }
  }


  // =================================

  .huge.slider-pips {

    margin-top: 30px;

    ::-webkit-slider-thumb {
      height: 20px;
      margin-top: -2px;
      width: 26px;
      border-radius: 3px;

    }

    .slider-pips__pip {

      height: 5px;
      width: 2px;
      transition-duration: 1s;

      &:nth-child( 5n + 1 ) {

        height: 9px;

      }

      &--selected {

        height: 12px!important;
        transition: none;

      }

    }

    .slider-pips__float {

      top: -7px;
      color: black;

    }

    .slider-pips__pips,
    .slider-pips__floats {
      margin: 0 13px;
    }

  }

  .slider-pips.gradient .slider-pips__range-selection {
    background: linear-gradient( 90deg, $color1 40%, $color2 60% );
  }
</style>
