<template>
  <vs-navbar class="nabarx fixed nav-bar py-2" text-color="white">
    <div slot="title">
      <vs-navbar-title class="whitespace-no-wrap text-2xl mx-auto">
        RB-KAIROS Control Center
      </vs-navbar-title>
    </div>
    <vs-navbar-item class="md:w-3/5">
      <div class="flex flex-wrap">
        <label for="address" class="whitespace-no-wrap mr-1 text-white my-auto">ROSBridge Address:</label>
        <div class="flex">
          <input id="address" class="md:w-32 xl:w-64 border-0 border-b border-gray-600 p-1 my-auto mr-2" v-model="navData.rosbridge_address"
                 placeholder="Insert address here">
          <connection-button v-if="navData.connected" @click="setAddress">Disconnect</connection-button>
        </div>
      </div>
    </vs-navbar-item>
    <vs-navbar-item class="mt-auto pb-2 flex flex-wrap w-2/3 sm:w-1/2 md:w-1/4 lg:mx-auto lg:w-2/6">
      <span class="mr-1 pt-1">Battery:</span>
      <div class='battery relative'>
        <div class="absolute w-full text-center">{{ navData.battery }}%</div>
        <div v-for="nr in 20"
             :class="[{[navData.batteryLow ? 'bg-red-700' : 'bg-green-700']: nr*5 <= navData.battery}, 'bar']"></div>
      </div>
    </vs-navbar-item>
    <vs-navbar-item class="flex w-2/3 sm:w-1/2 md:w-1/6 lg:ml-auto mt-auto pb-3">
      <div class="flex flex-wrap">Status:
        <span class="dot self-center ml-2"
              :class="[navData.connected ? 'bg-green-700' : 'bg-red-700']"></span>
      </div>
    </vs-navbar-item>
  </vs-navbar>
</template>

<script>
  import ConnectionButton from "../../components/ConnectionButton";
  export default {
    components: {
      ConnectionButton
    },
    data:() => ({
      navData:{},
    }),
    methods:{
      setAddress() {
        if (this.navData.rosbridge_address) this.$eventBus.$emit('rosBridgeAdd', this.navData.rosbridge_address);
      },
      disconnect() {
        this.$eventBus.$emit('disconnect')
      }
    },
    mounted() {
      this.$eventBus.$on('updateNav', (payload) => {
        this.navData = payload
      })
    }
  }
</script>

<style lang="scss">
  .nav-bar {
    @apply w-full absolute top-0;
    /*height: 32px !important;*/
  }

  .nav-bar {
    .vs-navbar--item {
      @apply text-base text-white my-3 px-1;
    }

    .btn-responsive-line {
      @apply bg-white;
    }

    .vs-con-items {
      @apply mx-3 justify-around;
    }
  }


  .dot {
    padding-top: 6px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid 1px white;
    display: inline-block;
  }

  @screen md {
    .vs-navbar--item {
      @apply text-base text-white my-1;
    }

    .vs-con-items {
      @apply w-2/3;
    }
  }

  .battery {
    @apply rounded;
    height: 26px;
    max-height: 30px;
    min-width: 122px;
    border: solid thin #FFF;
    position: relative;
  }

  .battery:after {
    content: " ";
    top: 7px;
    right: -5px;
    height: 10px;
    width: 5px;
    position: absolute;
    background: #FFF;
  }

  .bar {
    cursor: pointer;
    display: inline-block;
    width: 0;
    border: solid thin rgba(255, 255, 255, .1);
    padding: 2px;
    height: 100%;
    background: transparent;
    transition: background 1s;
  }

  .bar.active {
    background: limegreen;
  }
</style>
