<template>
  <div class="vx-col w-full flex flex-wrap mb-base">
    <div name="map" class="w-full md:w-2/3 xl:w-1/2 mb-2 px-1">
      <vx-card title="Map" class="flex flex-col max-w-2xl">
        <!-- CARD ACTION -->
        <div slot="no-body" class="flex flex-col p-2 sm:p-3">
          <div class="vx-row text-center flex-1 mb-4">
            <div class="vx-col relative justify-center mx-auto">
              <div id="map" class="map-canvas"></div>
              <div class="absolute mr-5 pb-5 right-0">
                X: {{ position.x.toFixed(2)}} | Y: {{ position.y.toFixed(2) }}
              </div>
            </div>
          </div>
          <div class="relative">
            <zoom class="huge" :min="0" :max="20" :step=1 @changedRange="getZoomNo" :values="zoomValue" floats></zoom>
          </div>
        </div>
      </vx-card>
    </div>
    <div name="Cameras" class="w-full flex md:flex-col justify-around md:w-1/3 xl:w-1/4 px-1">
      <vx-card title="Camera 1" class="flex-1 mb-2 mx-auto mr-1 lg:mr-0">
        <!-- CARD ACTION -->
        <div slot="no-body" class="p-2 sm:p-3">
          <div class="vx-row text-center">
            <div class="vx-col justify-center mx-auto">
              <div id="divCamera" class="camera-canvas"></div>
            </div>
          </div>
        </div>
      </vx-card>

      <vx-card title="Camera 2" class="flex-1 mb-2 mx-auto ml-1 lg:ml-0">
        <!-- CARD ACTION -->
        <div slot="no-body" class="p-2 sm:p-3">
          <div class="vx-row text-center">
            <div class="vx-col justify-center mx-auto">
              <div id="divCamera2" class="camera-canvas"></div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
    <div name="Actions" class="w-full flex flex-col sm:flex-row xl:flex-col justify-end xl:w-1/4 px-1">
      <vx-card title="Actions" class="mb-2 flex-1 mx-auto sm:mr-1 xl:mr-0">
        <!-- CARD ACTION -->
        <div slot="no-body" class="p-5">
          <div class="vx-row text-center">
            <div class="w-full text-left px-3">
              <div class="flex justify-between mb-3">
                <div class="my-auto mr-2">Goal</div>
                <div class="w-full flex justify-around">
                  <input type="text" class="w-16 my-auto bg-transparent border-0 border-b border-gray-600 p-1"
                         v-model="action.goal.behavior_name"/>
                  <action-button id="start" title="Start!"
                                 :color="[!connected || action.status.status === 1 ? 'gray' : '#2f855a']"
                                 :disabled="!connected || action.status.status === 1"
                                 @click="sendGoal"></action-button>
                  <action-button id="stop" title="Stop!"
                                 :color="[!connected || ![1].includes(action.status.status) ? 'gray' : '#B3494C']"
                                 :disabled="!connected || ![1].includes(action.status.status)"
                                 @click="cancelGoal"></action-button>
                </div>
              </div>
              <div class="">
                <div class="w-32">Feedback</div>
                <div class="relative text-center">
                  <vs-progress :height="14" :percent="action.feedback.current_state" color="primary" class="mt-1"/>
                  <span class="absolute top-0 mx-auto" style="right: 50%">{{ action.feedback.current_state || 0}}</span>
                </div>
              </div>
              <div class="">
                <div class="w-32">Result</div>
                <div class="relative text-center">
                  <vs-progress :height="14" :percent="action.result.outcome" color="primary" class="mt-1"></vs-progress>
                  <span class="absolute top-0 mx-auto" style="right: 50%">{{ action.result.outcome || 0}}</span>
                </div>
              </div>
              <div class="mt-3">Status:</div>
              <div class="font-bold">{{ action.status.text }}</div>
            </div>
          </div>
        </div>
      </vx-card>

      <vx-card title="Joystick" class="flex-1 order-first sm:order-last mb-2 mx-auto sm:ml-1 xl:ml-0">
        <!-- CARD ACTION -->
        <div slot="no-body" class="p-5">
          <div class="vx-row">
            <div class="vx-col justify-center mx-auto" style="touch-action: none">
              <div id="dragstartzone" @pointerdown="startDrag" @pointermove="doDrag" @pointerup="stopDrag"
                   v-show="connected">
              </div>
              <div id="dragCircle" :style="dragCircleStyle" v-show="connected"></div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
  import ActionButton from "../components/ActionButton";
  import Zoom from '@/components/ZoomComponent'

  export default {
    name:'Dashboard',
    components:{
      Zoom,
      ActionButton
    },
    data:() => ({
      zoomValue: [10],
      // ros connection
      ros:null,
      rosbridge_address:'wss://i-08961a95a3c716962.robotigniteacademy.com/rosbridge/',
      connected:false,
      // page content
      menu_title:'Connection',
      // dragging data
      dragging:false,
      x:'no',
      y:'no',
      dragCircleStyle:{
        margin:'0px',
        top:'0px',
        left:'0px',
        display:'none',
        width:'75px',
        height:'75px',
      },
      // joystick valules
      joystick:{
        vertical:0,
        horizontal:0,
      },
      // publisher
      pubInterval:null,
      // subscriber data
      position:{x:0, y:0, z:0,},
      battery:10,
      bateryBarStyle:"width:10%",
      batteryLow:false,
      mapViewer:null,
      mapGridClient:null,
      interval:null,
      // Custom map indicators
      robotMarkers:[],
      topics:[],
      zoom_factor:10,
      map_x_axis_displacement:0,
      map_y_axis_displacement:0,
      //Action variables
      goal:null,
      action: {
            goal: { behavior_name: "", arg_keys: [], arg_values: [], input_keys: [], input_values: [] },
            feedback: { current_state: "" },
            result: { outcome: "" },
            status: { status: 0, text: '' },
        }
    }),
    created() {
      this.$eventBus.$on('rosBridgeAdd', (data) => {
        this.rosbridge_address = data;
        if (this.connected) this.disconnect()
        this.connect()
      });
      this.$eventBus.$on('connected', (data) => {
        this.rosbridge_address = data;
        this.connect()
      });
    },
    methods:{
      getZoomNo(data) {
        this.zoom_factor = data
      },
      connect:function () {
        // define ROSBridge connection object
        this.ros = new ROSLIB.Ros({
          url:this.rosbridge_address
        })

        // define callbacks
        this.ros.on('connection', () => {
          this.connected = true
          console.log('Connection to ROSBridge established!')
          // define the publisher to cmd_vel
          this.pubInterval = setInterval(this.publish, 100)
          // define the subscriber to odometry
          let topic = new ROSLIB.Topic({
            ros:this.ros,
            name:'/robot/robotnik_base_control/odom',
            messageType:'nav_msgs/Odometry'
          })
          topic.subscribe((message) => {
            this.position = message.pose.pose.position
            //console.log(message)
          })
          let topic_battery = new ROSLIB.Topic({
            ros:this.ros,
            name:'/robot/battery_level',
            messageType:'std_msgs/Int32'
          })
          topic_battery.subscribe((message) => {
            this.battery = message.data
            this.bateryBarStyle = "width:" + message.data + "%"
            if (this.battery < 20) {
              this.batteryLow = true
            } else {
              this.batteryLow = false
            }
            console.log(message)
          })
          this.setCamera()
          this.setCamera2()

          this.mapViewer = new ROS2D.Viewer({
            divID:'map',
            width:1000,
            height:800
          })

          // Setup the map client.
          this.mapGridClient = new ROS2D.OccupancyGridClient({
            ros:this.ros,
            rootObject:this.mapViewer.scene,
            continuous:true,
          })
          // Scale the canvas to fit to the map

          this.mapGridClient.on('change', () => {
            this.update_zoom_map()
          })

          // Custom Map indicator
          // Setup the map client.
          var robotMarker = new ROS2D.NavigationArrow({
            size:0.25,
            strokeSize:0.05,
            pulse:true,
            fillColor:createjs.Graphics.getRGB(255, 0, 0, 1.0)
          });
          this.robotMarkers.push(robotMarker)

          var poseTopic = new ROSLIB.Topic({
            ros:this.ros,
            name:'/robot/amcl_pose',
            messageType:'geometry_msgs/PoseWithCovarianceStamped'
          });
          var navImage = new ROS2D.NavigationImage({
            size:1,
            pulse:true,
            image:"kairos_icon_for_map.png"
          })
          this.topics.push(poseTopic)
          this.createFunc('subscribe', poseTopic, navImage)
          // We add al the robot indicators
          // for (let i = 0; i < this.robotMarkers.length; i++) {
          //   this.mapGridClient.rootObject.addChild(this.robotMarkers[i])
          // }
          this.mapGridClient.rootObject.addChild(navImage)
          this.updateMapInterval = setInterval(this.update_zoom_map, 100)
        })
        this.ros.on('error', (error) => {
          console.log('Something went wrong when trying to connect')
          console.log(error)
        })
        this.ros.on('close', () => {
          this.connected = false
          console.log('Connection to ROSBridge was closed!')
          clearInterval(this.pubInterval)
          clearInterval(this.updateMapInterval)
          document.getElementById('divCamera').innerHTML = ''
          document.getElementById('divCamera2').innerHTML = ''
          document.getElementById('map').innerHTML = ''
        })
      },
      publish:function () {
        let topic = new ROSLIB.Topic({
          ros:this.ros,
          name:'/robot/cmd_vel',
          messageType:'geometry_msgs/Twist'
        })
        let message = new ROSLIB.Message({
          linear:{x:this.joystick.vertical, y:0, z:0,},
          angular:{x:0, y:0, z:this.joystick.horizontal,},
        })
        topic.publish(message)
      },
      disconnect:function () {
        this.ros.close()
      },
      sendCommand:function () {
        let topic = new ROSLIB.Topic({
          ros:this.ros,
          name:'/robot/cmd_vel',
          messageType:'geometry_msgs/Twist'
        })
        let message = new ROSLIB.Message({
          linear:{x:1, y:0, z:0,},
          angular:{x:0, y:0, z:0.5,},
        })
        topic.publish(message)
      },
      startDrag() {
        this.dragging = true
        this.x = this.y = 0
      },
      stopDrag() {
        this.dragging = false
        this.x = this.y = 'no'
        this.dragCircleStyle.display = 'none'
        this.resetJoystickVals()
      },
      doDrag(event) {
        if (this.dragging) {
          this.x = event.offsetX
          this.y = event.offsetY
          let ref = document.getElementById('dragstartzone')
          this.dragCircleStyle.display = 'inline-block'

          let minTop = ref.offsetTop - parseInt(this.dragCircleStyle.height) / 2
          let maxTop = minTop + 200
          let top = this.y + minTop
          this.dragCircleStyle.top = `${top}px`

          let minLeft = ref.offsetLeft - parseInt(this.dragCircleStyle.width) / 2
          let maxLeft = minLeft + 200
          let left = this.x + minLeft
          this.dragCircleStyle.left = `${left}px`

          this.setJoystickVals()
        }
      },
      setJoystickVals() {
        this.joystick.vertical = -1 * ((this.y / 200) - 0.5)
        this.joystick.horizontal = -1 * ((this.x / 200) - 0.5)
      },
      resetJoystickVals() {
        this.joystick.vertical = 0
        this.joystick.horizontal = 0
      },
      setCamera:function () {
        let without_wss = this.rosbridge_address.split('wss://')[1]
        console.log(without_wss)
        let domain = without_wss.split('/')[0]
        console.log(domain)
        let host = domain + '/cameras'
        let viewer = new MJPEGCANVAS.Viewer({
          divID:'divCamera',
          host:host,
          width:450,
          height:350,
          topic:'/robot/front_rgbd_camera/rgb/image_raw',
          ssl:true,
        })
      },
      setCamera2:function () {
        let without_wss = this.rosbridge_address.split('wss://')[1]
        console.log(without_wss)
        let domain = without_wss.split('/')[0]
        console.log(domain)
        let host = domain + '/cameras'
        let viewer = new MJPEGCANVAS.Viewer({
          divID:'divCamera2',
          host:host,
          width:450,
          height:350,
          topic:'/robot/wrist_rgbd/rgb/image_raw',
          ssl:true,
        })
      },

      update_zoom_map:function () {
        try {
          // we recreate the map canvas based on the zoom
          let dim_width = this.mapGridClient.currentGrid.width
          let dim_height = this.mapGridClient.currentGrid.height
          let grid_position_x = this.mapGridClient.currentGrid.pose.position.x
          let grid_position_y = this.mapGridClient.currentGrid.pose.position.y

          this.mapViewer.scaleToDimensions(dim_width / this.zoom_factor, dim_height / this.zoom_factor);
          this.mapViewer.shift((grid_position_x / this.zoom_factor) + this.map_x_axis_displacement, (grid_position_y / this.zoom_factor) - this.map_y_axis_displacement)

        } catch (err) {
          console.log("Map data not ready yet...")
        }

      },

      createFunc(handlerToCall, discriminator, robotMarker) {
        return discriminator.subscribe((pose) => {
          robotMarker.x = pose.pose.pose.position.x
          robotMarker.y = -pose.pose.pose.position.y

          var quaZ = pose.pose.pose.orientation.z
          var degreeZ = 0
          if (quaZ >= 0) {
            degreeZ = quaZ / 1 * 180
          } else {
            degreeZ = (-quaZ) * 180 + 180
          }
          ;
          //robotMarker.rotation = -degreeZ + 35
          robotMarker.rotation = -degreeZ

          this.map_x_axis_displacement = robotMarker.x
          this.map_y_axis_displacement = robotMarker.y
        })
      },

      // Action function
      // Action function
      sendGoal: function() {
          let actionClient = new ROSLIB.ActionClient({
              ros: this.ros,
              serverName: '/flexbe/execute_behavior',
              actionName: 'flexbe_msgs/BehaviorExecutionAction'
          })

          this.goal = new ROSLIB.Goal({
              actionClient: actionClient,
              goalMessage: {
                  behavior_name: this.action.goal.behavior_name
              }
          })

          this.goal.on('status', (status) => {
              this.action.status = status
          })

          this.goal.on('feedback', (feedback) => {
              this.action.feedback = feedback
          })

          this.goal.on('result', (result) => {
              this.action.result = result
          })

          this.goal.send()
      },

      cancelGoal:function () {
        this.goal.cancel()
      },

    },
    mounted() {
      // page is ready
      window.addEventListener('mouseup', this.stopDrag)
      // map
      this.intervalMap = setInterval(() => {
        if (this.ros != null && this.ros.isConnected) {
          this.ros.getNodes((data) => {
          }, (error) => {
          })
        }
      }, 10000)
      this.$eventBus.$on('disconnect', () => this.disconnect())
    },
    computed:{
      navData() {
        return {
          battery:this.battery,
          batteryLow:this.batteryLow,
          rosbridge_address:this.rosbridge_address,
          connected:this.connected
        }
      }
    },
    watch:{
      battery() {
        this.$eventBus.$emit('updateNav', this.navData)
      },
      batteryLow() {
        this.$eventBus.$emit('updateNav', this.navData)
      },
      rosbridge_address() {
        this.$eventBus.$emit('updateNav', this.navData)
      },
      connected(val) {
        this.$eventBus.$emit('updateNav', this.navData)
        if (!val) {
          this.disconnect()
          this.$eventBus.$emit('disconnected')
        }
      }
    }
  }
</script>

<style lang="scss">
  .vx-card .vx-card__collapsible-content.vs-con-loading__container {
    height: 100%;
  }

  .map-canvas canvas, .camera-canvas canvas {
    @apply rounded w-full;
    /*width: 100%;*/
  }
</style>
